<button class="btn btn-primary btn-lg modal-btn m-3 " data-toggle="modal" data-target="#filter">
    <i class="fa fa-filter" aria-hidden="true"></i>
</button>

<div class="modal right fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="right-26">
                    <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <h4 class="modal-title" id="myModalLabel2">Filters</h4>

                <div class="Filter">
                    <form action="Buildings" method="get">
                        <!--<p> Filters </p>-->
                        <h5 class="sub-heading">Emergency Buildings</h5>
                        <ul>
                            <li>
                                <label class="container">Police Department
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Fire Department
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Hospitals
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h5 class="sub-heading">Government Buildings</h5>
                        <ul>
                            <li>
                                <label class="container">Parliament
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Home Affairs
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h5 class="sub-heading">Health and Nutrition</h5>
                        <ul>
                            <li>
                                <label class="container">Supplement Stores
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Gyms
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Fitness Centres
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Martial Arts Dojo
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h5 class="sub-heading">Motor Vehicle Service</h5>
                        <ul>
                            <li>
                                <label class="container">Car Dealerships
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Garages
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h5 class="sub-heading">Retail Business</h5>
                        <ul>
                            <li>
                                <label class="container">Super Markets
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="container">Clothing Stores
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h5 class="sub-heading">City to City Transport</h5>
                        <h5 class="sub-heading">Restaurants</h5>
                        <h5 class="sub-heading">Insurance</h5>


                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="container">Banks
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label class="container">Home Affairs
                                    <input type="checkbox" name="Buildings" (change)="search('bank')">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>

        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>
<!-- modal -->