<div class="map-overlay">

    <button class = "ahn-back-button">
        <i class = "fa fa-arrow-left"></i>
    </button>

    <ahn-search-bar></ahn-search-bar>
    <best-alternative-list></best-alternative-list>
    <!-- <menu-icon class=" fa-border  menu" (navToggle)="sidenav.toggle()" (click)="menuFilter('menu')"></menu-icon>
          <menu-icon class="fa-border  filter" (navToggle)="sidenav.toggle()" (click)="menuFilter('filter')"></menu-icon> -->

</div>
<side-nav></side-nav>
<filter></filter>

<ahn-map></ahn-map>