.map-overlay {
    /* To put the stuff the stuff on top of the map */
    position: absolute;
    z-index: 5;
    width: 100%;
}

.menu-button {
    z-index: 2;
    position: fixed;
    border-radius: 50%;
    border: width border-style color;
}

.menu {
    border-radius: 100%;
    z-index: 2;
    left: 90%;
    position: absolute;
    cursor: pointer;
    background-color: #858585
}

.filter {
    border-radius: 100%;
    z-index: 2;
    left: 90%;
    position: absolute;
    margin-top: 50px;
    cursor: pointer;
    background-color: #858585
}