<form [formGroup]="form" (ngSubmit)="login()">

    <div class="login-form-background float-sm-none float-lg-right">
        <h2 class="h1 title ta-center padding-top-25 ">All Human Needs</h2>

        <div class="form-group">
            <input formControlName="email" type="text" class="form-control input-field" id="email" placeholder="Email Address" [(ngModel)]='this.username' />
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors.email">
                    Email address is invalid
                </div>
            </div>
        </div>

        <div class="form-group">
            <input formControlName="password" type="Password" class="form-control input-field" id="password" placeholder="Password" [(ngModel)]='this.psw' />
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                    Password is required
                </div>
                <div *ngIf="password.errors.minlength">
                    Password should be minimum of {{password.errors.minlength.requiredLength}} characters
                </div>
            </div>
        </div>
        <div>
            <input class="remember" name="rememberMe" type="checkbox" (click)="rememberMe()" />
            <label for="rememberMe">Remember me?</label>
            <a class="forgot" routerLink="/" routerLinkActive="active">Forgot Password?</a>
        </div>


        <div class="button">
            <button type="button" class="btn login-button" [disabled]="!form.valid" (click)="login()"> Login </button>
            <button type="button" class="btn google-button" (click)="googleLogin()"> Google Login </button>
        </div>

        <a class="create-account" routerLink="/registration" routerLinkActive="active">Don't have an existing account?</a>
    </div>
</form>
<!-- <div *ngIf="ahnAuth.authState | async; let user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="googleLogin()">Login with Google</button>
</ng-template> -->