.side-bar {
    padding: 25px;
    height: 100%;
    width: 100px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
}

img {
    width: 40px;
    height: 40px;
}

.logout {
    position: relative;
    top: 79%;
    font-family: Roboto;
    margin-bottom: 20px;
    cursor: pointer;
}