.side-bar {
    /* padding: 25px; */
    height: 100%;
    width: 100px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
}

img {
    margin-top: 50px;
    width: 40px;
    height: 40px;
}

.logout {
    position: absolute;
    /* top: 70vh; */
    margin: 0px 12.5px;
    bottom: 30px;
    font-family: Roboto;
    margin-bottom: 20px;
    cursor: pointer;
}

.fa-power-off:hover {
    color: #27CEBE;
}