<nav class="navbar navbar-expand-md banner">
    <div class="container-fluid nav-content">
        <!-- <div class="col-md-2"> -->
        <i class="fa fa-star fa-pull-left fa-3x" aria-hidden="true"></i>
        <!-- </div> -->

        <!-- <div class="col-md-8 ta-center"> -->
        <h1 class="navbar-brand mb-0">{{title}}</h1>
        <!-- </div> -->
        <!-- <div class="col-md-2"> -->
        <!-- <menu-icon (navToggle)="sidenav.toggle()"></menu-icon> -->
        <!-- <i class="fa fa-bars fa-border fa-pull-right fa-2x " style="cursor:pointer;" aria-hidden="true" (click)="navOpen()"></i> -->
        <!-- </div> -->

        <side-nav></side-nav>
    </div>
</nav>