<form [formGroup]="form" class="background">

    <md-tab-group>

        <md-tab label="Individual">

            <h2 class="text-center mt-5">Sign Up</h2>
            <div class="form-group paddingSide50" formGroupName="userForm">

                <md-form-field>
                    <input type="email" mdInput placeholder="Email" formControlName="email" [(ngModel)]="emailAddress" id="email">
                    <md-error *ngIf="email.touched && email.invalid">
                        <md-error *ngIf="email.errors.email">
                            Please enter a valid email address
                        </md-error>
                        <!-- <md-error *ngIf="email.errors.required">
                            Email is <strong>required</strong>
                        </md-error> -->
                    </md-error>
                </md-form-field>

                <div class="form-group" formGroupName="passwordForm">

                    <md-form-field>
                        <input type="password" mdInput placeholder="Password" formControlName="password" [(ngModel)]="pwd" id="psw">
                        <md-error *ngIf="password.touched && password.invalid">
                            <md-error *ngIf="password.errors.minlength">
                                Please enter a password
                            </md-error>
                            <md-error *ngIf="password.errors.required">
                                Password is <strong>required</strong>
                            </md-error>
                        </md-error>
                    </md-form-field>

                    <md-form-field>
                        <input type="password" mdInput placeholder="Confirm Password" formControlName="confirmPwrd" [(ngModel)]="confirmPsw" id="confirmPassword">
                        <md-error *ngIf="confirmPwrd.touched && confirmPwrd.invalid">
                            <md-error *ngIf="confirmPwrd.valid && passwordForm.invalid && passwordForm.errors.passwordMatches">
                                Passwords do not match
                            </md-error>
                            <md-error *ngIf="confirmPwrd.errors.required">
                                Password is <strong>required</strong>
                            </md-error>
                        </md-error>
                    </md-form-field>

                    <div class="text-center">
                        <button class="btn googleBtn mt-4"> <img src="http://pngimg.com/uploads/google/google_PNG19630.png" alt="Google Logo" (click)="googleLogin()"> Google Sign Up</button>
                        <button class="btn registerBtn mt-4" style="background-color: #27CEBE;" type="button" [disabled]=" validForm()" (click)="register()">Register</button>
                    </div>

                    <div class="text-center mt-5">
                        <p>Already have an account?</p>
                        <button md-button routerLink="/login">LOGIN</button>
                    </div>





                </div>

            </div>
        </md-tab>



        <md-tab label="Business">
            <h2 class="text-center mt-5">Sign Up</h2>



            <!-- <div class="form-group">
                <label for="isBusiness"><input type="checkbox" id="isBusiness" [(ngModel)]="isBusiness" [ngModelOptions]="{standalone: true}" (click)="toggleUser()"/> Are you registering as a Business?</label>
            </div> -->

            <div class="form-group paddingSide50" formGroupName="userForm">

                <md-form-field>
                    <input type="email" mdInput placeholder="Email" formControlName="email" [(ngModel)]="emailAddress" id="email">
                    <md-error *ngIf="email.touched && email.invalid">
                        <md-error *ngIf="email.errors.email">
                            Please enter a valid email address
                        </md-error>
                        <!-- <md-error *ngIf="email.errors.required">
                                                Email is <strong>required</strong>
                                            </md-error> -->
                    </md-error>
                </md-form-field>

                <div class="form-group" formGroupName="passwordForm">

                    <md-form-field>
                        <input type="password" mdInput placeholder="Password" formControlName="password" [(ngModel)]="pwd" id="psw">
                        <md-error *ngIf="password.touched && password.invalid">
                            <md-error *ngIf="password.errors.minlength">
                                Please enter a password
                            </md-error>
                            <md-error *ngIf="password.errors.required">
                                Password is <strong>required</strong>
                            </md-error>
                        </md-error>
                    </md-form-field>

                    <md-form-field>
                        <input type="password" mdInput placeholder="Confirm Password" formControlName="confirmPwrd" [(ngModel)]="confirmPsw" id="confirmPassword">
                        <md-error *ngIf="confirmPwrd.touched && confirmPwrd.invalid">
                            <md-error *ngIf="confirmPwrd.valid && passwordForm.invalid && passwordForm.errors.passwordMatches">
                                Passwords do not match
                            </md-error>
                            <md-error *ngIf="confirmPwrd.errors.required">
                                Password is <strong>required</strong>
                            </md-error>
                        </md-error>
                    </md-form-field>
                </div>
            </div>


            <div class="form-group paddingSide50" formGroupName="businessForm">

                <md-form-field class="example-full-width">
                    <!-- <input mdInput placeholder="Favorite food" value="Sushi"> -->
                    <input mdInput type="text" formControlName="name" [(ngModel)]="businessName" placeholder="Business Name" id="name" class="form-control">
                </md-form-field>
                <!-- <label for="name">Business name:</label>
              
                <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                    <div *ngIf="name.errors.required">Business name is a required field.</div>
                    <div *ngIf="name.errors.minlength">Business name should be a minimum of {{name.errors.minlength.requiredLength}} characters.</div>
                </div> -->





                <div style="float:left;padding-top:4.54px;">
                    <md-select style="float:left" placeholder="Category" name="category" id="category" formControlName="category" [(ngModel)]="category">
                        <md-option value="bank">Bank</md-option>
                        <md-option value="hospital">Hospital</md-option>
                        <md-option value="home-affairs">Home-Affairs</md-option>
                    </md-select>
                </div>
                <md-form-field style="float:right;width:70%">
                    <!-- <input mdInput placeholder="Favorite food" value="Sushi"> -->

                    <input type="number" mdInput id="capacity" value="10" formControlName="capacity" [(ngModel)]="capacity" min=0>

                </md-form-field>

                <!-- <label for="category">Category:</label>
                <select name="category" id="category" formControlName="category" [(ngModel)]="category" class="form-control">
                          <option value="bank">Bank</option>
                          <option value="hospital">Hospital</option>
                          <option value="home-affairs">Home-affairs</option>
                        </select> -->


                <!-- <label for="capacity">Capacity:</label> -->

                <md-form-field class="example-full-width">
                    <!-- <input mdInput placeholder="Favorite food" value="Sushi"> -->
                    <input mdInput id="address" placeholder="Business Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchControl formControlName="searchControl" (keyup.enter)="log()">
                    <md-hint><strong>Your business physical address and city</strong></md-hint>
                </md-form-field>

                <div class="form-group">
                    <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"> -->
                </div>

            </div>


            <div class="text-center paddingSide50">
                <button class="btn registerBtn mt-4 " style="width:100%;" type="button" [disabled]=" validForm()" (click)="register()">Register</button>
            </div>

            <div class="text-center mt-5 mb-4">
                <p>Already have an account?</p>
                <button md-button routerLink="/login">LOGIN</button>
            </div>




        </md-tab>
    </md-tab-group>
</form>