.background {
    height: 64.44%;
    width: 34.72%;
    margin: 13.78% auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2)
}

label {
    height: 1.78%;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
}