<ahn-banner></ahn-banner>
<div class="box">
    <h4 class="padding-top-25">Where do you want to go today?</h4><br>
    <h2 class="start"> Please select one of the below to get started</h2>
</div>
<div class="my-buttons">
    <button class="ahn-btn" [routerLink]="['/client-maps']">Emergency Buildings<br>e.g Police station, Fire station etc</button>
    <button class="ahn-btn" [routerLink]="['/client-maps']">Restaurants<br>e.g Restuarants near you.</button>
    <button class="ahn-btn" [routerLink]="['/client-maps']">Government Buildings<br>e.g Parliament, Home affairs etc</button>
    <button class="ahn-btn" [routerLink]="['/client-maps']">Motor Vihicle Service<br>e.g Places to service your car etc</button>
</div>
<div class="ahn-buttons">
    <button class="ahn-btn" [routerLink]="['/client-maps']">Nutrition & Fitness Ceters<br>e.g Gym's, nutritionists etc</button>
    <button class="ahn-btn" [routerLink]="['/client-maps']">Insurance<br>e.g Insurance businesses.</button>
    <button class="ahn-btn" [routerLink]="['/client-maps']">City to City Transport<br>e.g Buses, Trains etc</button>
    <button class="ahn-btn" [routerLink]="['/client-maps']">Retail Businesses<br>Shops, malls etc</button>
</div>