<ul class="nav nav-tabs" id="statsTab" role="tablist">
    <li class="nav-item ">
        <a class="nav-link active tab-header" id="spreadsheet-tab" data-toggle="tab" href="#spreadsheet" role="tab" aria-controls="spreadsheet">Spreadsheet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-header  " id="bargraph-tab" data-toggle="tab" href="#bargraph" role="tab" aria-controls="bargraph" aria-expanded="true">Bargraph</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-header " id="line-chart-tab" data-toggle="tab" href="#line-chart" role="tab" aria-controls="line-chart">Line Chart</a>
    </li>
    <li class="float-md-right">
        <form [formGroup]="form" class="mt-1">
            <div class="form-group">
                <input formControlName="selectedDate" type="date" class="m-1 form-control">
            </div>
        </form>
    </li>
</ul>
<div class="tab-content" id="statsTabContent">
    <div class="tab-pane fade show active" id="spreadsheet" role="tabpanel" aria-labelledby="spreadsheet-tab">
        <ahn-spreadsheet></ahn-spreadsheet>
    </div>
    <div class="tab-pane fade " id="bargraph" role="tabpanel" aria-labelledby="bargraph-tab">
        <ahn-bar-chart></ahn-bar-chart>
    </div>
    <div class="tab-pane fade" id="line-chart" role="tabpanel" aria-labelledby="line-chart-tab">
        <ahn-line-chart></ahn-line-chart>
    </div>

</div>