<form [formGroup]="form" (ngSubmit)="login()">

    <div class="login-form-background float-sm-none float-lg-right">
        <h2 class="h1 title ta-center padding-top-25 ">Forgot Password</h2>

        <div class="form-group">
            <input formControlName="email" type="text" class="form-control input-field" id="email" placeholder="Email Address" [(ngModel)]='this.username' />
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger error">
                <div *ngIf="email.errors.email">
                    Email address is invalid
                </div>
            </div>
        </div>

        <!-- <div class="form-group">
            <input formControlName="password" type="Password" class="form-control input-field" id="password" placeholder="Password" [(ngModel)]='this.psw' />
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger error">
                <div *ngIf="password.errors.required">
                    Password is required
                </div>
                <div *ngIf="password.errors.minlength">
                    Password should be minimum of {{password.errors.minlength.requiredLength}} characters
                </div>
            </div>
        </div> -->

        <div class="text-center">
            <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="login()"> Reset Password </button>

        </div>


    </div>
</form>