<div class="container-fluid">
    <div class="row bg-img">
        <form [formGroup]="form" class="background">

            <div class="paddingSide50">
                <h2 class="h1 ta-center padding-top-25 ">Forgot Password</h2>
                <md-form-field class="mt-5">
                    <input mdInput formControlName="email" #emailA type="text" id="email" placeholder="Email Address" />

                    <md-error *ngIf="email.touched && email.invalid">
                        <md-error *ngIf="email.errors.email">
                            Please enter a valid email address
                        </md-error>

                    </md-error>
                </md-form-field>
                <!-- <div class="form-group">
            <input #email type="text" class="form-control input-field" id="email" placeholder="Email Address" />
        </div> -->

                <!-- <div class="form-group">
            <input formControlName="password" type="Password" class="form-control input-field" id="password" placeholder="Password" [(ngModel)]='this.psw' />
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger error">
                <div *ngIf="password.errors.required">
                    Password is required
                </div>
                <div *ngIf="password.errors.minlength">
                    Password should be minimum of {{password.errors.minlength.requiredLength}} characters
                </div>
            </div>
        </div> -->

                <div class="text-center">
                    <button md-button class="text-center mt-3 mb-3" type="button" (click)="changePassword(emailA.value)"> Reset Password </button>

                </div>


            </div>
        </form>
    </div>
</div>