/* .bg-img {
    background-image: url("./../../../../assets/img/capetown.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */

.base {
    width: 100vw;
    height: 100vh;
}

.background {
    width: 500px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.paddingSide50 {
    padding-left: 50px;
    padding-right: 50px;
}

md-form-field {
    height: 9.11%;
    width: 100%
}

.fullHeight {
    height: 100vh;
}

h2 {
    height: 33px;
    color: #000000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
}