.ahn-search-container {
    position: fixed;
    height: 58px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(7, 61, 125, 0.1);
    box-shadow: 0 2px 4px 0 rgba(7, 61, 125, 0.1);
    margin-left: 20px;
    margin-top: 29px;
}

.ahn-search-bar {
    height: 58px;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-style: none;
    font-size: 16px;
    padding: 24px;
    line-height: 16px;
}

.search-icon {
    font-size: 16px;
    /* width: 40px; */
    margin-top: 10px;
}

.search-btn {
    font-size: 16px;
    padding-top: 20px;
    height: 58px;
    width: 58px;
    background-color: #14CFBE;
    color: #ffffff
}

.search-btn:hover {
    cursor: pointer;
    background-color: rgba(20, 207, 188, 0.712);
}

li,
ul {
    width: 100%;
}

.search-list>ul>li {
    width: 223px!important;
}

.list-group-item:hover {
    background-color: lightblue;
    cursor: pointer;
}

.btn {
    height: 60px;
    width: 100%;
    background-color: #27CEBE;
    border-radius: 0px;
    border-style: none;
}

@media screen and (max-width: 570px) {
    .ahn-search-container {
        width: 218px;
    }
    .search-list>ul>li {
        width: 170px!important;
    }
}