.search-container {
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
}

.search-bar {
    height: 58px;	
    width: 340px;	
    border-radius: 5px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(7,61,125,0.1);
}

.search-icon {
    font-size: 175%;
    margin-top: auto;
    margin-bottom: auto;
}

li,
ul {
    width: 100%;
}

.list-group-item:hover {
    background-color: blue;
    cursor: pointer;
}