<div class="ahn-search-container">
    <input #searchBox type="text" placeholder="search" (keyup)="search(searchBox.value)" [(ngModel)]="query" class="ahn-search-bar ">
    <span class="fa fa-search search-icon" (click)="select(firstResult)"></span>
    <ul class="list-group">
        <li (click)="select(business)" *ngFor="let business of businesses | async" class="list-group-item text-center">
            {{business.name}}
        </li>
    </ul>
</div>

<div [hidden]="!hidden">
    <div class="fixed-bottom">
        <ul *ngIf="isExpanded" class="list-group">
            <li (click)="select(alt)" *ngFor="let alt of alternativesList" class="list-group-item text-center"> {{alt.name}} {{alt.pax}}</li>
        </ul>
        <button class="btn btn-primary" (click)="toggle()">Alternative options</button>
    </div>
</div>