<div class="ahn-search-container">


    <div class="input-group">
        <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
        <input #searchBox type="text" placeholder="search" (keyup)="search(searchBox.value)" [(ngModel)]="query" class="ahn-search-bar ">
        <!-- <span class="input-group-addon" id="basic-addon2">@example.com</span> -->
        <span class="input-group-addon text-center search-btn fa fa-search" (click)="select(firstResult)"></span>
    </div>
    <div class="search-list">
        <ul class=" list-group">
            <li (click)="select(business)" *ngFor="let business of businesses | async" class="list-group-item text-center">
                {{business.name}}
            </li>
        </ul>
    </div>

</div>

<div [hidden]="!hidden">
    <div class="fixed-bottom">
        <ul *ngIf="isExpanded" class="list-group">
            <li (click)="selectAlt(alt)" *ngFor="let alt of filteredBusiness" class="list-group-item text-center">{{alt.business.name}}</li>
        </ul>
        <button class="btn btn-primary" (click)="toggle()">Alternative options</button>
    </div>
</div>