/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.ta-center {
    text-align: center;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

body {
    background-image: url("./assets/img/capetown.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* background-image: url("./assets/img/Cape-Town.png"); */
    /* width: 100vw;
    height: 100vh; */

}