.bg {
    height: 500px;
    width: 500px;
    background-color: #fff;
    text-align: center;
}

.number {
    margin-top: 150px;
    height: 100px;
    width: 150px;
    font-size: 2em;
    border: none;
    background-color: gray;
    text-align: center;
}


/* .operatorBtn {
    font-size: 2em;
    cursor: pointer;
} */

input[type=number]::-webkit-inner-spin-button {
    width: 50px;
    height: 100px;
}